<style>


body{

	background: blue;

}

#container{

	background: #E8E8E8;
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	padding: 15px;
	border-width: 1px;
	border-style: ridge;
	border-color: black;
	box-shadow: 1px 1px 15px #888888;


}

#logo{

	margin-bottom: 15px;
}


#logo a:link {
	
	border-style:none;
	color: #2BABF0;
	font-family: Tahoma;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	
	}
	
#logo a:visited {
	
	border-style:none;
	color: #2BABF0;
	font-family: Tahoma;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
		
	}	

#logo a:hover{
	
	color: blue;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
}


/* unvisited link */

a{




}

a:link {
	
	margin: 5px;
	border-style: hidden; 
	font-weight:200;
    color: #BF1B1B;
    text-decoration: underline;
}

/* visited link */
a:visited {
	
	padding: 50px;
	margin: 5px;
	padding: 500px;
	border-style: hidden; 
	font-weight:bold;
    color: #BF1B1B;
    text-decoration: underline;
}

/* mouse over link */
a:hover {
	color: red;
    text-decoration: none;
}

/* selected link */
a:active {
    color: black;
}


th{

	background: #3897C9;
}
tr:nth-child(even) {background: #EDF1F2}
tr:nth-child(odd) {background:#BED9E8}
table{

	border-collapse: collapse;
	text-align: left;
}

table, td, th {
	padding: 5px;
    border: 1px solid black;
}

</style>