<head>
<link rel='stylesheet' type='text/css' href='../css/stylesheet.css'>
</head>


<body>

	<div id="container"> 
		<center> Upload Failed
		<form action="../dashboard.php">
					<input type=submit>
		</form>

		</center>

	</div>




</body>

